.container{
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    width: 500px;
    height: 700px;
    background-color: lightgray;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

#display{
    background-color: lightcyan;
    border: 1px solid mediumaquamarine;
    display: flex;
    height: 100px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.buttons{
    display: flex;
    flex: 1;
    gap: 10px;
}

.operators{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.left{
    display: flex;
    flex-direction: column;
    flex: 3.5 1 0;
    gap: 10px;
}

.numbers{
    display: flex;
    flex-direction: column;
    flex: 3 1 0;
    gap: 10px;
}

.bottom,
.row{
    display: flex;
    flex: 1 1 0;
    gap: 10px;
}

.bottom{
    gap: 10px;
}

button{
    flex: 1;
    padding: 5px;

}

.operators button,
.yellowBox{
    background-color: darkgoldenrod;
}

.dotCE{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: 10px;
}  
